.ProseMirror,
.ProseMirror-menubar-wrapper {
  --s-25: #effbef;
  --s-50: #dff7df;
  --s-75: #d0f3d0;
  --s-100: #c0f0c0;
  --s-200: #b0ecb0;
  --s-300: #a0e8a0;
  --s-400: #91e491;
  --s-500: #81e081;
  --s-600: #71dc71;
  --s-700: #61d961;
  --s-800: #52d552;
  --s-900: #42d142;

  --space-zero: 0;
  --space-micro: 2px;
  --space-smaller: 4px;
  --space-small: 8px;
  --space-one: 1px;
  --space-slab: 12px;
  --space-normal: 16px;
  --space-medium: 24px;
  --space-large: 32px;
  --space-larger: 48px;

  --font-size-small: 14px;
  --font-size-default: 16px;
  --font-size-medium: 18px;
  --font-size-large: 22px;
  --font-size-big: 24px;
  --font-size-bigger: 3px;

  --font-weight-feather: 100;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-black: 700;

  --border-radius-small: 3px;
  --border-radius-medium: 7px;
}
